.search-view {
  position: fixed;
  width: 375px;
  height: 100vh;
  box-sizing: border-box;
  background-color: white;
  overflow-y: auto;
  border-right: 1px solid #D0D0D0;
  padding: 20px;
}

.search-section {
  border-bottom: 1px solid #D0D0D0;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.search-header {
  color: black;
  display: flex;
  font-size: 22px;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.search-icon {
  position: absolute;
  left: 12px;
  font-size: 22px;
  color: #555;
  pointer-events: none;
}

.cancel-icon {
  position: absolute;
  right: 12px; /* Move to the right */
  font-size: 17px;
  color: #555;
  cursor: pointer;
}


.search-input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #e5e7eb;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 22px;
  border: none;
}

.search-input:focus {
  outline: none;
  padding: 10px;
}

.search-input:not(:placeholder-shown) {
  padding: 10px !important;
}

.book-item {
  border: 1px solid red;
  margin-top: 30px;
}

.search-input-container:focus-within .search-icon {
  display: none;
}

.no-results {
  margin-top: 10px;
}